.errorContainer{
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 200px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-frown-open{
    font-size: 90px;
    margin-bottom: 40px;
    color: #EEEEEE;
}