/*GRID-ITEM:  background-color: white; */



.currenciesParentWrapperContainer{
    width: 100%;
}


.coinsGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4px;
    /* grid-template-rows: repeat(1,80px); */
    grid-auto-rows: 270px;
}

.coinGridItem{
    /* background-color: white; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

.coinTitle{
    font-weight: 600;
}

.coinIcon{
    width: 50px;
    height: 50px;
}

.coinIcon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.coinHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}

.c-divider{
    width: 100%;
    background-color: rgb(238, 238, 238);
    height: 1px;
}

.coindetails{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 0 20px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.search{
    width:310px;
    border: none;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 50px;
}


/* -------------------- */


@media screen and (max-width: 1150px) {
    .coinsGrid{
        grid-template-columns: repeat(3,1fr);

    }
}
@media screen and (max-width: 900px) {
    .coinsGrid{
        grid-template-columns: repeat(2,1fr);

    }
}
@media screen and (max-width: 500px) {
    .coinsGrid{
        grid-template-columns: repeat(1,1fr);

    }
}