.homeParentWrapperContainer{
    width: 100%;
}

.home{
    width: 100%;
}

.grid{
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 80px;
    grid-row-gap:50px ;
    grid-column-gap:25px ;

    /* margin: 25px 0; */
}
.gridItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemTitle{
    font-size: 15px;
    font-weight: 400;
}
.itemValue{
    font-weight: 400;
}

.firstHeading{
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 25px;
}

.sectionDividerHeading{
    width: 70%;
}

.sectionDivider{
    margin: 40px 0;
}

@media screen and (max-width:750px) {
    .sectionDivider{
        font-size: 14px;
    }
    .firstHeading{
        font-size: 26px;
    }
    .itemValue{
        font-size: 22px;
    }
    .itemTitle{
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {
    .firstHeading{
        font-size: 25px;
    }
    .itemTitle{
        font-size: 13px;
    }
}

