.newsParentWrapperContainer{
    width: 100%;
}



.newsWrapper{
    /* background-color: white; */
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* transition: 0.5s; */
}

.newsContainer{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(1,60px); */
    grid-gap: 25px;
    grid-auto-rows: 380px;

}


.newsImage{
    width: 100px;
    height: 100px;
}
.newsImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.newsHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.newsTitle{
    width: 70%;
}
.newsDescription{
    font-size: 14px;
}

.newsBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.providersImageHolder{
    width: 40px;
    height: 40px;
    margin-bottom: 3px;
}
.providersImageHolder img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.newsWrapper:hover{
    transform: scale(1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.select{
    width: 250px;
    border: none;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 25px;
}



@media screen and (max-width:1250px) {
    .newsContainer{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 420px;
    }
}
@media screen and (max-width:1000px) {
    .newsContainer{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 420px;
    }
}
@media screen and (max-width:400px) {
    .newsTitle{
        font-size: 16px;
    }
    .newsDescription{
        font-size: 13px;
    }
}