*{margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;

/* font-family: 'Roboto Mono', monospace; */

/* font-family: 'Titillium Web', sans-serif; */
font-family: 'Open Sans', sans-serif;

/* font-family: 'Raleway', sans-serif; */
}

.app{
    /* background: #e2e8f0; */
    max-width:100vw ;
    min-height: 100vh;

    position: relative;

    box-sizing: border-box;
    padding: 20px;
    /* padding: 20px 20px 20px 270px; */

    display: flex;
    justify-content: space-between;
}

.extra{

    /* background-color: antiquewhite; */
    margin-left: 250px;
}



.buttonHolder{
    width: 100px;
    height: 40px;
    /* background-color:  rgb(224, 224, 171); */
    position: absolute;
    right: 30px;
    top: 45px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    align-items: center;
    /* box-sizing: border-box; */
    padding-left: 3px;
}

.button{
    /* margin-left: 62%; */
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /* background-color:#4d2c53; */
    cursor: pointer;
}

.loading{
    position: absolute;
    top: 100px;
    left: 300px;
}


@media screen and (max-width: 800px) {
    .extra{
        margin: 0;
        width: calc(100vw - 40px);
        height: 100px;
    }
    .app{
        flex-direction: column;
    }
    .buttonHolder{
        top: 145px;
    }
    .loading{
        top: 150px;
        left: 50px;
    }
}
@media screen and (max-width: 500px) {
    .buttonHolder{
        top: 35px;
        z-index: 110;
        width: 65px;
        height: 30px;
        position: fixed;
    }
    .button{
        height: 25px;
        width: 25px;
    }
}